<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency Exchange</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h3>Конвертер</h3>
        <form th:action="@{/convert}" th:object="${history}" method="POST">
            <div class="input-group">
                <select th:name="firstVal" th:field="*{sourceCurrency}">
                    <option th:each="valuteFirst : ${valutes}" th:text="${valuteFirst.charCode} + ' (' + ${valuteFirst.name} + ')'" th:value="${valuteFirst.id}"/>
                </select>
                <input th:field="*{sourceSumm}"  class="form-control" type="number" placeholder="">
                <select th:name="secondVal" th:field="*{targetCurrency}">
                    <option th:each="valuteSecond : ${valutes}" th:text="${valuteSecond.charCode} + ' (' + ${valuteSecond.name} + ')'" th:value="${valuteSecond.id}"/>
                </select>
                <input th:field="*{resultSumm}"  class="form-control" type="number" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Конвертировать</button>
        </form>
        <form th:action="@{/history}" method="get">
            <button type="submit" class="btn btn-primary btn-block">История</button>
        </form>
    </div>
</body>
</html>